{% extends "base.html" %}

{% block title %} Contact Us {% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Contact Us</h1>
</div>
{% endblock content %}

{% block body %}
<div class="contact-form-wrapper">

  <!-- Contact Us Heading -->
  <h2>Contact Us</h2>

  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  {% endfor %}

  <form action="/contact/" method="post" class="contact-form">
    {% csrf_token %}

    <label for="name">Full Name</label>  
    <input type="text" id="name" name="name" required>  

    <label for="email">Email</label>  
    <input type="email" id="email" name="email" required>  

    <label for="desc">How can I help you?</label>  
    <textarea id="desc" name="desc" required></textarea>

    <label for="phone">Phone No</label>  
    <input type="number" id="phonenumber" name="phonenumber" required>  

    <button type="submit">Submit</button>  
  </form>

</div>
{% endblock body %}
